/* SEARCH FIELD*/
#search {
	margin-top: 10px; /* outside */
	margin-bottom: 10px; /* outside */
	margin-left: 0px; /* outside */
	margin-right: 0px; /* outside */
	display: block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #4D392F;
	font-weight: bold;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

/* BUTTONS */
.button {
	margin-top: 10px; /* outside */
	margin-bottom: 10px; /* outside */
	margin-left: 20px; /* outside */
	margin-right: 0px; /* outside */
	background-color: transparent;
	display: block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	color: #4D392F;
	border-radius: 5px;
    border:none;
	font-family: 'Roboto', sans-serif;
	background-color:#e8ac72;
}
.button:hover{
transform: scale(1.1);
}
.button:active,
.button:focus{
border:none;
outline: none;
}

/* LIST OF INGREDIENTS */
.ingredient-item {
	margin: 1px; /* outside */
	display: inline-block;
	white-space: nowrap;
	width: 160px;
	height: 25px;
	overflow: hidden; /* hide overflowing text */
	text-overflow: ellipsis; /* show ... */
	cursor: default;
	border-radius: 5px;
	color: #4D392F; /* font color */
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
li{
border:1px solid black;
padding: 0px 10px;
}
.ingredient-item{
border-radius:20px;
height: 30px;
}
.ingredient-item span{
    margin-top:2px;
    display: block;
     overflow:hidden;
     white-space:nowrap;
     text-overflow: ellipsis;
}
.thText {
	color: #4D392F;
	font-size: 1.25em;
}
/* unvisited link */
a:link {
  color: #4D392F;
}
/* visited link */
a:visited {
  color: #4D392F;
}
/* mouse over link */
a:hover {
  color: #4D392F;
}
/* selected link */
a:active {
  color: #e8ac72;
}

/* NAVBAR */
.row.navbar{
 background-color:#e8ac72;
 text-align:left !important;
 justify-content: end;
 height: 75px;
 font-size:30px;
}
.navbar svg{
margin-right: 5px;
color:white;
}
.row.navbar p{
    color:white;
    font-weight:bold;
    display: contents;
}
.col-10{
margin-top:25px;
}

/* RESULT TABLE*/
tbody{
background-color:white;
}
.resultItem{
font-size:1.5em;
}
.result-title{
margin:auto;
text-align:center;
margin-top: 25px;
}

/* OTHER */
.form-control{
background-color:white;
}
body{
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.mar-auto{
    display: flex;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    margin-top:25px;
}
.mar-auto .button{
margin-right:25px;
}
